<nav class="navbar navbar-expand-lg navbar-light bg-primary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('admin_index') }}">
            <img class="nav-image-admin" src="{{ asset('images/logo_white.png') }}" alt="logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-lg-5 flex-wrap" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex flex-grow-1 justify-content-between mb-2 mb-lg-0 flex-sm-wrap">
                <li class="nav-item flex-sm-grow-1 d-flex {{ app.request.attributes.get('_route') in {0:'admin_home_update'} ? 'active-admin' }}">
                    <a class="nav-link text-white title" href="{{ path('admin_home_update') }}">
                        {{ 'app.views.home'|trans }}
                    </a>
                </li>
                <li class="nav-item flex-sm-grow-1 d-flex {{ app.request.attributes.get('_route') in {0:'admin_projects_index', 1:'admin_projects_create' , 2:'admin_projects_edit'} ? 'active-admin' }}">
                    <a class="nav-link text-white title" href="{{ path('admin_projects_index') }}">
                        {{ 'app.views.projects'|trans }}
                    </a>
                </li>
                <li class="nav-item flex-sm-grow-1 d-flex {{ app.request.attributes.get('_route') in {0:'admin_category_index', 1:'admin_category_edit' , 2:'admin_category_new'} ? 'active-admin' }}">
                    <a class="nav-link text-white title" href="{{ path('admin_category_index') }}">
                        {{ 'admin.category.categories'|trans }}
                    </a>
                </li>
                <li class="nav-item flex-sm-grow-1 d-flex {{ app.request.attributes.get('_route') in {0:'admin_users_index', 1:'admin_users_create' , 2:'admin_users_update',3: 'admin_users_delete'} ? 'active-admin' }}">
                    <a class="nav-link text-white title" href="{{ path('admin_users_index') }}">
                        {{ 'app.views.about'|trans }}
                    </a>
                </li>
                <li class="nav-item flex-sm-grow-1 d-flex {{ app.request.attributes.get('_route') in {0:'admin_configuration_contact'} ? 'active-admin' }}">
                    <a class="nav-link text-white title" href="{{ path('admin_configuration_contact') }}">
                        {{ 'app.views.contact'|trans }}
                    </a>
                </li>
                <li class="nav-item flex-sm-grow-1 d-flex {{ app.request.attributes.get('_route') in {0:'admin_configuration_maintenance'} ? 'active-admin' }}">
                    <a class="nav-link text-white title" href="{{ path('admin_configuration_maintenance') }}">
                        {{ 'admin.configuration.maintenance'|trans }}
                    </a>
                </li>
                <li class="nav-item flex-sm-grow-1 d-flex">
                    <a class="nav-link text-white title" href="{{ path('app_logout') }}">
                        {{ 'admin.logout'|trans }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
