{% extends 'layouts/layout.html.twig' %}

{% block title %}{{ 'admin.project.project'|trans }} - {{ project.getTranslation(app.request.locale).title }}{% endblock %}

{% block body %}
    <article id="project">
        <div class="row g-5 text-center mb-5">
            <div class="col-12">
                <h1 class="text-info">{{ project.getTranslation(app.request.locale).title }}</h1>
            </div>
            <div class="col-xs-12 offset-md-3 col-md-6 text-info">
                {{ project.getTranslation(app.request.locale).description|raw }}
            </div>
        </div>
        <div class="row g-4 mt-5">
            {{ include('views/projects/partial/_images_layout.html.twig', {'images': project.images, 'display_title': null, 'link': '#here'}) }}
        </div>
    </article>
{% endblock %}
