<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_index') }}">
            <img class="nav-image" src="{{ asset('images/logo.png') }}" alt="logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-lg-5 flex-wrap" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex flex-grow-1 justify-content-between mb-2 mb-lg-0 flex-sm-wrap">
                <li class="nav-item flex-sm-grow-1  d-flex {{ app.request.attributes.get('_route') == 'app_project_index' ? 'active' }}">
                    <a class="nav-link text-primary title" href="{{ path('app_project_index') }}">
                        {{ 'app.views.projects'|trans }}
                    </a>
                    {# TODO list des projets depliantes limité à 5 #}
                </li>
                <li class="nav-item flex-sm-grow-1 d-flex {{ app.request.attributes.get('_route') == 'app_about' ? 'active' }}">
                    <a class="nav-link text-primary title" href="{{ path('app_about') }}">
                        {{ 'app.views.about'|trans }}
                    </a>
                </li>
                <li class="nav-item flex-sm-grow-1 d-flex {{ app.request.attributes.get('_route') == 'app_workshop_index' ? 'active' }}">
                    <a class="nav-link text-primary title" href="{{ path('app_workshop_index')}}">
                        {{ 'app.views.workshops'|trans }}
                    </a>
                </li>
                <li class="nav-item flex-sm-grow-1 d-flex {{ app.request.attributes.get('_route') == 'app_contact' ? 'active' }}">
                    <a class="nav-link text-primary title" href="{{ path('app_contact') }}">
                        {{ 'app.views.contact'|trans }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
