<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - {{ 'app.name'|trans }}</title>
    <link rel="icon" href="{{ asset('images/logo_white.png') }}" sizes="180x180"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="container-fluid container-md container-lg container-xl container-xxl" id="top">
    {{ include('layouts/_navbar.html.twig') }}
    <main>
        <article>
            {% block body %}{% endblock %}
        </article>
    </main>
    {{ include('layouts/_footer.html.twig') }}
    {{ include('layouts/_notification.html.twig') }}
</body>
</html>
