{% extends 'layouts/admin.html.twig' %}
{% block title %}{{ 'app.views.projects'|trans }}{% endblock %}
{% block body %}
    <div class="row g-3">
        <div class="col-12">
            <a href="{{ path('admin_projects_create') }}">
                <button class="btn btn-outline-primary">
                    {{ 'admin.project.create_project'|trans }}
                </button>
            </a>
        </div>
        <div class="col-12">
            <table class="table table-light table-bordered table-hover text-center border-primary">
                <thead>
                <tr>
                    <th class="bg-primary text-white">{{ 'admin.project.title'|trans }}</th>
                    <th class="bg-primary text-white">{{ 'admin.project.order'|trans }}</th>
                    <th class="bg-primary text-white">{{ 'admin.project.highlight'|trans }}</th>
                    <th class="bg-primary text-white">{{ 'admin.category.category'|trans }}</th>
                    <th class="bg-primary text-white">{{ 'admin.project.image'|trans }}</th>
                    <th class="bg-primary text-white">{{ 'admin.actions.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.getTranslation(app.request.locale).title }}</td>
                        <td>{{ project.order }}</td>
                        <td>{{ include('components/_boolean.html.twig', {'value': project.highlight}) }}</td>
                        <td>{{ project.category.getTranslation(app.request.locale).title }}</td>
                        <td>{{ project.images.first ? include('components/_image_preview.html.twig', {'image_url': project.images.first.image, 'alt': 'image'}) }}</td>
                        <td>
                            <div class="row g-1">
                                <div class="col-12">
                                    {{ include('components/_action_button.html.twig', {
                                        'type': 'outline-primary',
                                        'url': path('admin_projects_update', {'id': project.id}),
                                        'icon': 'pen-fill',
                                        'message': 'admin.actions.edit'|trans
                                    }) }}
                                </div>
                                <div class="col-12">
                                    {{ include('components/_action_button.html.twig', {
                                        'method': 'POST',
                                        'type': 'outline-danger',
                                        'url': path('admin_projects_delete', {'id': project.id}),
                                        'icon': 'trash-fill',
                                        'message': 'admin.actions.delete'|trans
                                    }) }}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th class="bg-primary text-white">{{ 'admin.project.title'|trans }}</th>
                    <th class="bg-primary text-white">{{ 'admin.project.order'|trans }}</th>
                    <th class="bg-primary text-white">{{ 'admin.project.highlight'|trans }}</th>
                    <th class="bg-primary text-white">{{ 'admin.category.category'|trans }}</th>
                    <th class="bg-primary text-white">{{ 'admin.project.image'|trans }}</th>
                    <th class="bg-primary text-white">{{ 'admin.actions.actions'|trans }}</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
