{% extends 'layouts/layout.html.twig' %}

{% block title %}{{ 'app.views.projects'|trans }}{% endblock %}

{% block body %}
    <h1 class="text-primary d-none">
        {{ 'app.views.projects'|trans }}
    </h1>
    <section id="projects-categories">
        <div class="row g-3">
            {% for key, category in categories %}
                <div class="col-12">
                    <div class="accordion border border-primary text-center" id="accordionCategory{{ key }}">
                        <h2 class="accordion-header text-center" id="heading_{{ key }}">
                                <span
                                    class="accordion-button collapsed text-center text-uppercase title d-block"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapse_{{ key }}"
                                    aria-expanded="false"
                                    aria-controls="collapse_{{ key }}">
                                    <span class="text-center">
                                            {{ category.getTranslation(app.request.locale).title }}
                                    </span>
                                </span>
                        </h2>
                        <div class="accordion-item">
                            <div id="collapse_{{ key }}"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="heading_{{ key }}"
                                 data-bs-parent="#accordionCategory{{ key }}">
                                <div class="accordion-body bg-primary text-white text-start">
                                    <ul class="list">
                                        {% for project in category.projects %}
                                            <li>
                                                <a href="{{ path('app_project_show', {'slug': project.getTranslation(app.request.locale).slug }) }}"
                                                   class="text-decoration-none cat-hover-link">
                                                    {{ project.getTranslation(app.request.locale).title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
